# Data Collection

**เป้าหมาย:** การสร้าง csv ไฟล์เพื่อรวมข้อมูลจากแหล่งข้อมูล 3 ลักษณะ ได้แก่ ไฟล์ csv, API และ webpage

**ไฟล์ csv:** ให้ download จาก google classroom มาใส่ใน google drive ที่ link ไว้

**API:** ใช้ url "http://wwry.net/deapi/api.php" โดยตัว API จะส่งค่ากลับมาเป็น json format

**Webpage:** ให้ดึงข้อมูลจากหน้าเว็บ "http://wwry.net/deapi/"

# ดึงข้อมูลจากไฟล์ csv

Download csv ไฟล์จาก https://drive.google.com/file/d/172UfpZ1Sj1BvUN_4BsAmmqQ6AOnSBvOu/view?usp=sharing

In [1]:
!gdown --id 172UfpZ1Sj1BvUN_4BsAmmqQ6AOnSBvOu

Downloading...
From: https://drive.google.com/uc?id=172UfpZ1Sj1BvUN_4BsAmmqQ6AOnSBvOu
To: /content/AB_NYC_2019_02.csv
6.28MB [00:00, 29.3MB/s]

ให้นักศึกษาดึงข้อมูลจากไฟล์ csv ที่กำหนดให้มาสร้าง DataFrame ดังภาพ

ตรวจสอบขนาดของ DataFrame

ตรวจสอบลักษณะข้อมูล 5 แถวแรกใน DataFrame

In [ ]:
# === Expected Output ===

(48895, 12)

   room_id  ... reviews_per_month
0     2539  ...              0.21
1     2595  ...              0.38
2     3647  ...               NaN
3     3831  ...              4.64
4     5022  ...              0.10

[5 rows x 12 columns]

ตั้งค่า room_id ให้เป็น index

In [ ]:
# === Expected Output ===

                                                     name  ... reviews_per_month
room_id                                                    ...
2539                   Clean & quiet apt home by the park  ...              0.21
2595                                Skylit Midtown Castle  ...              0.38
3647                  THE VILLAGE OF HARLEM....NEW YORK !  ...               NaN
3831                      Cozy Entire Floor of Brownstone  ...              4.64
5022     Entire Apt: Spacious Studio/Loft by central park  ...              0.10

[5 rows x 11 columns]

In [4]:
# Doing
import pandas as pd
pd.read_csv("AB_NYC_2019_02.csv").set_index("room_id").head()

                                                     name  ... reviews_per_month
room_id                                                    ...
2539                   Clean & quiet apt home by the park  ...              0.21
2595                                Skylit Midtown Castle  ...              0.38
3647                  THE VILLAGE OF HARLEM....NEW YORK !  ...               NaN
3831                      Cozy Entire Floor of Brownstone  ...              4.64
5022     Entire Apt: Spacious Studio/Loft by central park  ...              0.10

[5 rows x 11 columns]

# ดึงข้อมูลจาก API

ให้นักศึกษาเขียนโค้ดเพื่อดึงข้อมูลจาก API ที่กำหนด

จากนั้นตรวจสอบว่า status code ที่ตอบกลับจาก API คืออะไร

In [ ]:
# === Expected Output ===

<Response [200]>

แปลงผลลัพธ์ให้เป็น json

print ชนิดของตัวแปรออกมาดูเพื่อตรวจสอบความถูกต้อง

In [ ]:
# === Expected Output ===

<class 'dict'>

แปลงข้อมูล json ที่อยู่ในรูปแบบ Python dictionary ให้เป็น DataFrame

โดย DataFrame จะมี 3 columns คือ index, room_id, host_id

ตรวจสอบโดยการ print ขนาดของ DataFrame และ columns

In [ ]:
# === Expected Output ===

(48895, 3)
Index(['index', 'room_id', 'host_id'], dtype='object')

ตรวจสอบว่ามีแถว/คอลัมภ์ที่มีข้อมูลไม่ครบหรือไม่ (มีค่าว่างหรือไม่)

In [ ]:
# === Expected Output ===

index      0
room_id    0
host_id    0
dtype: int64

เอา column "index" ออก

In [ ]:
# === Expected Output ===

   room_id  host_id
0     2539     2787
1     2595     2845
2     3647     4632
3     3831     4869
4     5022     7192

ตั้งค่า index เป็น room_id

In [ ]:
# === Expected Output ===

         host_id
room_id
2539        2787
2595        2845
3647        4632
3831        4869
5022        7192

In [25]:
# Doing
import requests
api = requests.get("https://wwry.net/deapi/api.php",
                   headers={'User-Agent': 'Mozilla/5.0 (Windows NT 6.2; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1667.0 Safari/537.36'})
df = pd.DataFrame(api.json()["data"]).drop(columns=["index"])
df.set_index("room_id", inplace=True)
df.head()

         host_id
room_id
2539        2787
2595        2845
3647        4632
3831        4869
5022        7192

# ดึงข้อมูลจาก webpage

ให้นักศึกษาเขียนโค้ดเพื่อดึงข้อมูลจาก API ที่กำหนด

URL: http://wwry.net/deapi

แสดงผลเป็น html ของหน้าเว็บเพจ

In [ ]:
# === Expected Output ===

<!DOCTYPE html>

<html lang="en">
<head>
<title>List of Our Host</title>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<!--===============================================================================================-->
<link href="table/images/icons/favicon.ico" rel="icon" type="image/png"/>
<!--===============================================================================================-->
<link href="table/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<!--===============================================================================================-->
<link href="table/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<!--===============================================================================================-->
<link href="table/vendor/animate/animate.css" rel="stylesheet" type="text/css"/>
<!--===============================================================================================-->
<link href="table/vendor/select2/select2.min.css" rel="stylesheet" type="text/css"/>
<!--===============================================================================================-->
<link href="table/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css"/>
<!--===============================================================================================-->
<link href="table/css/util.css" rel="stylesheet" type="text/css"/>
<link href="table/css/main.css" rel="stylesheet" type="text/css"/>
<!--===============================================================================================-->
</head>
<body>
<div class="limiter">
<div class="container-table100">
<div class="wrap-table100">
<div class="table">
<div class="row header">
<div class="cell" style="text-align:center">
								Page
							</div>
</div>
<div class="row"><div class="cell" data-title="page" style="text-align:center"><a href="host.php?page=1"> Page 1 </a></div></div><div class="row"><div class="cell" data-title="page" style="text-align:center"><a href="host.php?page=2"> Page 2 </a></div></div><div class="row"><div class="cell" data-title="page" style="text-align:center"><a href="host.php?page=3"> Page 3 </a></div></div><div class="row"><div class="cell" data-title="page" style="text-align:center"><a href="host.php?page=4"> Page 4 </a></div></div><div class="row"><div class="cell" data-title="page" style="text-align:center"><a href="host.php?page=5"> Page 5 </a></div></div><div class="row"><div class="cell" data-title="page" style="text-align:center"><a href="host.php?page=6"> Page 6 </a></div></div><div class="row"><div class="cell" data-title="page" style="text-align:center"><a href="host.php?page=7"> Page 7 </a></div></div><div class="row"><div class="cell" data-title="page" style="text-align:center"><a href="host.php?page=8"> Page 8 </a></div></div>
</div>
</div>
</div>
</div>
<!--===============================================================================================-->
<script src="table/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="table/vendor/bootstrap/js/popper.js"></script>
<script src="table/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="table/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="table/js/main.js"></script>
</body>
</html>

ให้นักศึกษาเขียนโค้ดเพื่อนำ link ทั้งหมดออกมาจากหน้าเว็บ

In [ ]:
# === Expected Output ===

[<a href="host.php?page=1"> Page 1 </a>, <a href="host.php?page=2"> Page 2 </a>, <a href="host.php?page=3"> Page 3 </a>, <a href="host.php?page=4"> Page 4 </a>, <a href="host.php?page=5"> Page 5 </a>, <a href="host.php?page=6"> Page 6 </a>, <a href="host.php?page=7"> Page 7 </a>, <a href="host.php?page=8"> Page 8 </a>]

ทดสอบเขียนโค้ดเพื่อดึงข้อมูลจากหน้าเว็บ 1 หน้า

เช่น url http://wwry.net/deapi/host.php?page=1

In [ ]:
# === Expected Output ===

        host_name number_of_room
host_id
2438        Tasos              1
2571        Teedo              1
2787         John              6
2845     Jennifer              2
2868     Letha M.              1
...           ...            ...
2801328       Ben              2
2801522     Alina              1
2801739    Alysha              1
2802223    Raluca              2
2802251     Cansu              1

[5000 rows x 2 columns]

ให้นักศึกษาเขียนโค้ดเพื่อเข้าถึงหน้าเว็บแต่ละเว็บใน list เพื่อนำ host_id, host_name, และ number_of_room มาสร้างเป็น DataFrame

In [ ]:
# === Expected Output ===

collecting data from http://wwry.net/deapi/host.php?page=1 ..
collecting data from http://wwry.net/deapi/host.php?page=2 ..
collecting data from http://wwry.net/deapi/host.php?page=3 ..
collecting data from http://wwry.net/deapi/host.php?page=4 ..
collecting data from http://wwry.net/deapi/host.php?page=5 ..
collecting data from http://wwry.net/deapi/host.php?page=6 ..
collecting data from http://wwry.net/deapi/host.php?page=7 ..
collecting data from http://wwry.net/deapi/host.php?page=8 ..

           host_name number_of_room
host_id
2438           Tasos              1
2571           Teedo              1
2787            John              6
2845        Jennifer              2
2868        Letha M.              1
...              ...            ...
274273284  Anastasia              1
274298453     Adrien              1
274307600   Jonathan              1
274311461      Scott              1
274321313        Kat              1

[37457 rows x 2 columns]

In [47]:
# Doing
import requests
from time import sleep
from pandas import DataFrame, concat
from bs4 import BeautifulSoup
links = "https://wwry.net/deapi"
req = requests.get(links, headers={'User-Agent': 'Mozilla/5.0 (Windows NT 6.2; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1667.0 Safari/537.36'})
data = BeautifulSoup(req.text, 'html.parser').find_all("div", {"class": "cell",
                                                               "data-title": "page"})

group_df = []
for div in data:
    tmp = div.find("a")
    title, link = tmp.text, tmp["href"]
    inside_link = f"{links}/{link}"

    req = requests.get(inside_link, headers={'User-Agent': 'Mozilla/5.0 (Windows NT 6.2; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1667.0 Safari/537.36'})
    data = BeautifulSoup(req.text, 'html.parser').find("div", {"class": "table"})
    header = [ head.text.strip() for head in data.find("div", {"class": "row header"}).find_all("div", {"class": "cell"})]
    prepare = []

    for info in data.find_all("div", {"class": "row content"}):
        pattern = lambda x: eval('info.find("div", {"data-title": "'+x+'"}).text')
        prepare.append({
            "count": pattern("count"),
            "id": pattern("id"),
            "name": pattern("name"),
            "no": pattern("no")
        })

    df = DataFrame(prepare)
    df.columns = header
    df.set_index(header[0], inplace=True)
    group_df.append(df)
    sleep(5)

data_web = concat(group_df, ignore_index=True).drop_duplicates(keep="first")
data_web

         Host ID  Host Name the Number of Room
0           2438      Tasos                  1
1           2571      Teedo                  1
2           2787       John                  6
3           2845   Jennifer                  2
4           2868   Letha M.                  1
...          ...        ...                ...
37452  274273284  Anastasia                  1
37453  274298453     Adrien                  1
37454  274307600   Jonathan                  1
37455  274311461      Scott                  1
37456  274321313        Kat                  1

[37457 rows x 3 columns]

# Data Integration

เอา 3 DataFrame (s1_data, s2_data, s3_data) มารวมกัน

In [ ]:
# === Expected Output ===

                                                       name  ... number_of_room
room_id                                                      ...
2539                     Clean & quiet apt home by the park  ...              6
7937553   Riomaggiore Room. Queen Bedroom in Bklyn Townh...  ...              6
10160215                               Torre del Lago Room.  ...              6
10267242  Cinque Terre Room.  Clean and Quiet Queen Bedroom  ...              6
10593675  La Spezia room.  Clean, quiet and comfortable bed  ...              6
17263207   Brooklyn home.  Comfort and clean. Liguria room.  ...              6
2595                                  Skylit Midtown Castle  ...              2
18393354                                  Midtown Sanctuary  ...              2
3647                    THE VILLAGE OF HARLEM....NEW YORK !  ...              1
3831                        Cozy Entire Floor of Brownstone  ...              1

[10 rows x 14 columns]

# Exporting Data

บันทึกไฟล์เป็น all_data.csv

In [ ]:
merge_df.to_csv("all_data.csv")

ไฟล์ที่ export จะอยู่ที่แถบเมนูทางด้านซ้ายมือ

<<< 

icon "File" ลำดับที่ 3 ต่อจาก table of contents และ code snippets pane

# Data Cleansing

Download file AB_NYC_2019.csv

https://drive.google.com/file/d/1aLqSIpGE_nXMm7dWl1b6U1n4J0v7aVdL

In [ ]:
!gdown --id 1aLqSIpGE_nXMm7dWl1b6U1n4J0v7aVdL

อ่านไฟล์โดย read_csv

In [ ]:
# === Expected Output ===

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

เลือกเฉพาะคอลัมภ์ที่ต้องการจะใช้งาน นั่นคือ

id, name, host_id, neighbourhood_group,

neighbourhood, room_type, price, minimum_nights, number_of_reviews

In [ ]:
# === Expected Output ===

     id  ... number_of_reviews
0  2539  ...                 9
1  2595  ...                45
2  3647  ...                 0
3  3831  ...               270
4  5022  ...                 9

[5 rows x 9 columns]

เปลี่ยนชื่อ id เป็น room_id

เปลี่ยนชื่อ neighbourhood_group เป็น borough

เปลี่ยนชื่อ minimum_nights เป็น min_nights

เปลี่ยนชื่อ number_of_reviews เป็น n_reviews

ตั้งค่าให้ room_id เป็น index

In [ ]:
# === Expected Output ===

                                                     name  ...  n_reviews
room_id                                                    ...
2539                   Clean & quiet apt home by the park  ...          9
2595                                Skylit Midtown Castle  ...         45
3647                  THE VILLAGE OF HARLEM....NEW YORK !  ...          0
3831                      Cozy Entire Floor of Brownstone  ...        270
5022     Entire Apt: Spacious Studio/Loft by central park  ...          9

[5 rows x 8 columns]

ตรวจสอบสถิติเบื้องต้น

In [ ]:
# === Expected Output ===

            host_id    min_nights     n_reviews
count  4.889800e+04  48898.000000  48898.000000
mean   6.761587e+07      7.030247     23.280011
std    7.861033e+07     20.510204     44.568092
min    2.438000e+03      1.000000      0.000000
25%    7.816403e+06      1.000000      1.000000
50%    3.079133e+07      3.000000      5.000000
75%    1.074344e+08      5.000000     24.000000
max    2.743213e+08   1250.000000    629.000000

ตรวจสอบขนาดและชนิดของข้อมูล

In [ ]:
# === Expected Output ===

(48898, 8)

name             object
host_id           int64
borough          object
neighbourhood    object
room_type        object
price            object
min_nights        int64
n_reviews         int64
dtype: object

ต้องแก้ไขชนิดของข้อมูลคอลัมภ์ price

ใช้ function to_numeric โดยใช้ parameter errors

ซึ่งสามารถมีค่าเป็น 'ignore', 'raise', หรือ 'coerce' มีค่า default เป็น 'raise'

• 'raise', ถ้า parse ไม่ได้ จะโชว์ exception

• 'coerce', ถ้า parse ไม่ได้ จะเซ็ตค่าเป็น NaN

• 'ignore', ถ้า parse ไม่ได้ จะไม่ทำอะไรเลย (ข้อมูลคือ input)

In [ ]:
# === Expected Output ===

name              object
host_id            int64
borough           object
neighbourhood     object
room_type         object
price            float64
min_nights         int64
n_reviews          int64
dtype: object

ตรวจสอบข้อมูลซ้ำซ้อน

In [ ]:
print(data.shape)

# === Insert your code here ===

print(data.shape)

(48898, 8)
(48843, 8)

ค้นหาค่าว่าง ว่าแต่ละคอลัมภ์มีค่าว่างจำนวนเท่าใด

In [ ]:
# === Expected Output ===

name             16
host_id           0
borough           0
neighbourhood     0
room_type         0
price             6
min_nights        0
n_reviews         0
dtype: int64

ลบแถวที่คอลัมภ์ name เป็นค่าว่าง

In [ ]:
# === Expected Output ===

name             0
host_id          0
borough          0
neighbourhood    0
room_type        0
price            6
min_nights       0
n_reviews        0
dtype: int64

ตรวจสอบลักษณะของค่าว่างในคอลัมภ์ price

In [ ]:
# === Expected Output ===

                                             name  ...  n_reviews
room_id                                            ...
63913      HOSTING YOUR  SUNNY, SPACIOUS NYC ROOM  ...          0
74333         Alcove Studio w/ outdoor Patio Deck  ...         26
200955                  STYLISH EAST VILLAGE FLAT  ...         25
346805        Spacious Lower East Side Apt in NYC  ...         53
540489   Large + Bright private bedroom in NoLiTa  ...         18
652515         COLUMBUS CIRCLE~FULLY FURNISHED!!!  ...          2

[6 rows x 8 columns]

ให้แทนค่าว่างคอลัมภ์ price ด้วยค่าเฉลี่ย

In [ ]:
# === Expected Output ===

                                             name  ...  n_reviews
room_id                                            ...
63913      HOSTING YOUR  SUNNY, SPACIOUS NYC ROOM  ...          0
74333         Alcove Studio w/ outdoor Patio Deck  ...         26
200955                  STYLISH EAST VILLAGE FLAT  ...         25
346805        Spacious Lower East Side Apt in NYC  ...         53
540489   Large + Bright private bedroom in NoLiTa  ...         18
652515         COLUMBUS CIRCLE~FULLY FURNISHED!!!  ...          2

[6 rows x 8 columns]

ตรวจสอบค่าว่างที่เหลือ

In [ ]:
# === Expected Output ===

name             0
host_id          0
borough          0
neighbourhood    0
room_type        0
price            0
min_nights       0
n_reviews        0
dtype: int64

ตรวจสอบค่าในคอลัมภ์ borough (ใช้ Group by)

In [ ]:
# === Expected Output ===

borough
Brokly               1
Bronx             1090
Brooklyn         20079
Manhatan             1
Manhattan        21629
Queens            5654
Staten Island      373
Name: name, dtype: int64

แก้ไขข้อมูลที่พิมพ์ผิด

In [ ]:
# === Expected Output ===

borough
Bronx             1090
Brooklyn         20080
Manhattan        21630
Queens            5654
Staten Island      373
Name: name, dtype: int64

ตรวจสอบค่าทางสถิติ

In [ ]:
# === Expected Output ===

            host_id         price    min_nights     n_reviews
count  4.882700e+04  48827.000000  48827.000000  48827.000000
mean   6.755047e+07    152.707523      6.999775     23.304340
std    7.856916e+07    240.275661     20.018601     44.573692
min    2.438000e+03      0.000000      1.000000      0.000000
25%    7.809598e+06     69.000000      1.000000      1.000000
50%    3.073664e+07    106.000000      3.000000      5.000000
75%    1.074344e+08    175.000000      5.000000     24.000000
max    2.743213e+08  10000.000000   1250.000000    629.000000

หาข้อมูลผิดปกติด้วย IQR

หาค่า Q1, Q3, IQR, Upper, Lower จากคอลัมภ์ price

In [ ]:
q3 = data.price.quantile(.75)
q1 = data.price.quantile(.25)
#ได้ผลเดียวกัน
#q3, q1 = np.percentile(data.population,[75,25])

iqr = q3-q1
upper = q3+(1.5*iqr)
lower = q1-(1.5*iqr)

print('''Q1 = {}
Q3 = {}
IQR = {}
Upper = {}
Lower = {}
'''.format(q1,q3,iqr,upper,lower))

สร้าง boxplot เพื่อแสดงค่าผิดปกติ

In [ ]:
import matplotlib.pyplot as plt
plt.axvline(x=q1, c='b', linestyle="--", linewidth=1)
plt.axvline(x=q3, c='b', linestyle="--", linewidth=1)
plt.axvline(x=lower, c='r', linestyle="--")
plt.axvline(x=upper, c='r', linestyle="--")
plt.boxplot(data.price,vert=False)
plt.show()

หาจำนวนค่าผิดปกติที่อยู่นอกขอบเขตของ Upper และ Lower

In [ ]:
# === Expected Output ===

Outlier upper = 2967
Outlier lower = 0

Backup ค่า Dataframe

In [ ]:
data2 = data.copy()

(1) ทดสอบการกำจัดค่าผิดปกติกับตัวแปร data2

In [ ]:
print(data2.shape)

# === Insert your code here ===

data2.shape

(48827, 8)

(45860, 8)

(2) ทำวิธี IQR อีกครั้ง เนื่องจากมีการปรับปรุงค่า

ตรวจสอบว่ากำจัดค่าผิดปกติหมดหรือยัง จากการ drop ในขั้นตอนที่ (1)

In [ ]:
q3 = data2.price.quantile(.75)
q1 = data2.price.quantile(.25)
iqr = q3-q1
upper = q3+(1.5*iqr)
lower = q1-(1.5*iqr)
print('''Q1={}
Q3={}
IQR={}
Upper={}
Lower={}
'''.format(q1,q3,iqr,upper,lower))

plt.axvline(x=q1, c='b', linestyle="--", linewidth=1)
plt.axvline(x=q3, c='b', linestyle="--", linewidth=1)
plt.axvline(x=lower, c='r', linestyle="--")
plt.axvline(x=upper, c='r', linestyle="--")
plt.boxplot(data2.price,vert=False)
plt.show()

ตรวจดูจำนวนข้อมูลที่เหลือ รวมถึงค่าสถิติต่างๆ

In [ ]:
data2.describe()